* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Roboto", sans-serif;
}
.header-container {
  padding: 6rem;
  background-color: lightslategrey;

  .header-title {
    font-size: 3rem;
    color: white;
  }
}

.category-container {
  padding: 0 6rem;
  margin: 4rem 0;

  .category-header-container {
    .category-header-title {
      padding-bottom: 1.5rem;
      color: lightslategrey;
      border-bottom: 1px solid lightslategrey;
    }
  }
}

.row-books {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .book-container {
    width: 30%;
    margin: 2rem 2rem 2rem 0;

    .book-title {
      font-family: "Roboto", sans-serif;
      font-size: 0.8rem;
    }

    .book-author {
      font-size: 0.8rem;
      font-weight: lighter;
    }
  }
}

.book {
  text-align: center;

  .book-description {
    margin: 1rem 0;
  }
}

.addbook-container {
  position: fixed;
  right: 2.5%;
  bottom: 2.5%;
  background: url("./icons/add.svg") no-repeat center center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  padding: 1.5rem;
  background-color: black;
}

.backToHome-container {
    position: fixed;
    right: 2.5%;
    bottom: 2.5%;
    background: url("./icons/arrow-back.svg") no-repeat center center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 50%;
    padding: 1.5rem;
    background-color: black;
  }

.bookoptions-container {
  text-align: center;
  .bookoptions-selector {
    border: 0;
  }
}

.footer-container {
  background-color: steelblue;
  padding: 3rem 0;
  text-align: center;
  color: white;
}

.searchpage-container {
  padding: 6rem;

  .searchinput-container {
    margin: 1rem 0;
    .search-form {
      width: 100%;
      height: 3rem;
      font-size: 1rem;
      color: lightgrey;
      padding: 0 1rem;
      font-weight: lighter;

      &:focus {
        outline: none;
        color: black;
        font-weight: normal;
      }
    }
  }
}
